@model UHN_Humber.Models.Event

@{
    ViewBag.Title = "Create New Event";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>


<script>


  $(function() {
      $("#datepicker").datepicker({ minDate: 0, maxDate: "+10Y" });
  });
</script>





@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Create New Event</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class = "control-label col-md-2">
                   Event Name : <span style="vertical-align: middle; color: red; font-size: 30px;">*</span>
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Date<span style="vertical-align: middle; color: red; font-size: 30px;">*</span> :
            </div>
            <div class="col-md-10">
                 
                @Html.TextBoxFor(model => model.EventDate, new { Name = "EventDate", id = "datepicker" })
              
                @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Time<span style="vertical-align: middle; color: red; font-size: 30px;">*</span> : 
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EventTime, new List<SelectListItem>
            {
                new SelectListItem { Text = "12:00 AM", Value = "0"},
                new SelectListItem { Text = "12:30 AM", Value = "0.5" },
                new SelectListItem { Text = "01:00 AM", Value = "1" },
                new SelectListItem { Text = "01:30 AM", Value = "1.5" },
                new SelectListItem { Text = "02:00 AM", Value = "2" },
                new SelectListItem { Text = "02:30 AM", Value = "2.5" },
                new SelectListItem { Text = "03:00 AM", Value = "3" },
                new SelectListItem { Text = "03:30 AM", Value = "3.5" },
                new SelectListItem { Text = "04:00 AM", Value = "4" },
                new SelectListItem { Text = "04:30 AM", Value = "4.5" },
                new SelectListItem { Text = "05:00 AM", Value = "5" },
                new SelectListItem { Text = "05:30 AM", Value = "5.5" },
                new SelectListItem { Text = "06:00 AM", Value = "6" },
                new SelectListItem { Text = "06:30 AM", Value = "6.5" },
                new SelectListItem { Text = "07:00 AM", Value = "7" },
                new SelectListItem { Text = "07:30 AM", Value = "7.5" },
                new SelectListItem { Text = "08:00 AM", Value = "8" },
                new SelectListItem { Text = "08:30 AM", Value = "8.5" },
                new SelectListItem { Text = "09:00 AM", Value = "9" },
                new SelectListItem { Text = "09:30 AM", Value = "9.5" },
                new SelectListItem { Text = "10:00 AM", Value = "10" },
                new SelectListItem { Text = "10:30 AM", Value = "10.5" },
                new SelectListItem { Text = "11:00 AM", Value = "11" },
                new SelectListItem { Text = "11:30 AM", Value = "11.5" },
                new SelectListItem { Text = "12:00 PM", Value = "12" },
                new SelectListItem { Text = "12:30 PM", Value = "12.5" },
                new SelectListItem { Text = "01:00 PM", Value = "13" },
                new SelectListItem { Text = "01:30 PM", Value = "13.5" },
                new SelectListItem { Text = "02:00 PM", Value = "14" },
                new SelectListItem { Text = "02:30 PM", Value = "14.5" },
                new SelectListItem { Text = "03:00 PM", Value = "15" },
                new SelectListItem { Text = "03:30 PM", Value = "15.5" },
                new SelectListItem { Text = "04:00 PM", Value = "16" },
                new SelectListItem { Text = "04:30 PM", Value = "16.5" },
                new SelectListItem { Text = "05:00 PM", Value = "17" },
                new SelectListItem { Text = "05:30 PM", Value = "17.5" },
                new SelectListItem { Text = "06:00 PM", Value = "18" },
                new SelectListItem { Text = "06:30 PM", Value = "18.5" },
                new SelectListItem { Text = "07:00 PM", Value = "19" },
                new SelectListItem { Text = "07:30 PM", Value = "19.5" },
                new SelectListItem { Text = "08:00 PM", Value = "20" },
                new SelectListItem { Text = "08:30 PM", Value = "20.5" },
                new SelectListItem { Text = "09:00 PM", Value = "21" },
                new SelectListItem { Text = "09:30 PM", Value = "21.5" },
                new SelectListItem { Text = "10:00 PM", Value = "22" },
                new SelectListItem { Text = "10:30 PM", Value = "22.5" },
                new SelectListItem { Text = "11:00 PM", Value = "23" },
                new SelectListItem { Text = "11:30 PM", Value = "23.5" }
            }, "Select the Event Time")
                @Html.ValidationMessageFor(model => model.EventTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Location<span style="vertical-align: middle; color: red; font-size: 30px;">*</span> : 
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventLocation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                Description<span style="vertical-align: middle; color: red; font-size: 30px;">*</span> : 
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" style="background-color: white;" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
