@model UHN_Humber.Models.Event

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete the Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Event Title : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTitle)
        </dd>

        <dt>
           Date : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            Time : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTime)
        </dd>

        <dt>
            Location : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventLocation)
        </dd>

        <dt>
            Description : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            Repeat : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventRecurred)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input style="background-color:white;" type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
