@model UHN_Humber.Models.Doctor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doc_academic_affiliation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_academic_affiliation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_clinic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_clinic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_education_and_training)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_education_and_training)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_languages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_languages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_middle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_middle_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_program)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_program)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_publications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_publications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_research_institute_affiliations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_research_institute_affiliations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_research_profile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_research_profile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doc_specialty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doc_specialty)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
