@model UHN_Humber.Models.AppointmentRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AppointmentRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Patient Name : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            Age : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAge)
        </dd>

        <dt>
           Sex : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientSex)
        </dd>

        <dt>
           Phone Number : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientPhone)
        </dd>

        <dt>
            Email : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientEmail)
        </dd>

        <dt>
           Preferred Date : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreferredDate)
        </dd>

        <dt>
           Reason to visit : 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reasons)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
