@model IEnumerable<UHN_Humber.Models.Volunteer>

@{
    ViewBag.Title = "VolunteerIndex";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Volunteer Applications</h2>

<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Address
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            Info
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VolunteerInfo)
        </td>
    </tr>
}

</table>
